body{
    background-color:rgb(235, 234, 234);
}
#form{
    width: 35%;
    border: 1px solid black;
    margin: auto;
    padding-left: 20px;
    /* padding-right: 20px; */
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid black;
    background-color: white;
}

#form>label{
    font-family: 'lato', serif;
}

#form>input{
    width: 90%;
    height: 40px;
    margin-bottom: 40px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
}

.expiry_date{
    width: 91%;
    display: flex;
    justify-content: space-between;
}

.expiry_date>select{
    width: 42%;
    height: 45px;
    font-family: 'lato', serif;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 4px 4px 4px 4px;
}

.images{
    margin-bottom: 20px;
}

.checkbox{
    display: flex;
    font-family: 'lato', serif;
    font-size: 17px;
    margin-bottom: 20px;
}

.order_submit{
    width: 35%;
    margin:auto;
}
.order_submit>button{
    width: 520px;
    height: 50px;
    color: white;
    font-family: 'lato', serif;
    font-size: 17px;
    background-color: #222222;
    margin-top: 20px;
}

@media only screen and (min-width: 421px) and (max-width: 780px){
    #form{
    width: 90%;
    border: 1px solid black;
    margin: auto;
    padding-left: 20px;
    /* padding-right: 20px; */
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid black;
}

#form>label{
    font-family: 'lato', serif;
}

#form>input{
    width: 80%;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
}

.expiry_date{
    width: 81%;
    display: flex;
    justify-content: space-between;
}

.expiry_date>select{
    width: 40%;
    height: 35px;
    font-family: 'lato', serif;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 4px 4px 4px 4px;
}

.images{
    margin-bottom: 20px;
}

.checkbox{
    display: flex;
    font-family: 'lato', serif;
    font-size: 17px;
    margin-bottom: 20px;
}

.order_submit{
    width: 35%;
    margin:auto;
    margin-left: 60px;
    margin-bottom: 20px;
}
.order_submit>button{
    width: 300px;
    height: 40px;
    color: white;
    font-family: 'lato', serif;
    font-size: 17px;
    background-color: #222222;
    margin-top: 20px;
}
}

@media only screen and (min-width: 70px) and (max-width: 420px){
    #form{
    width: 90%;
    border: 1px solid black;
    margin: auto;
    padding-left: 20px;
    /* padding-right: 20px; */
    padding-top: 20px;
    margin-top: 50px;
    border-radius: 4px 4px 4px 4px;
    border: 2px solid black;
}

#form>label{
    font-family: 'lato', serif;
}

#form>input{
    width: 80%;
    height: 30px;
    margin-bottom: 40px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 4px 4px 4px 4px;
}

.expiry_date{
    width: 81%;
    display: flex;
    justify-content: space-between;
}

.expiry_date>select{
    width: 40%;
    height: 35px;
    font-family: 'lato', serif;
    margin-bottom: 40px;
    margin-top: 10px;
    border-radius: 4px 4px 4px 4px;
}

.images{
    margin-bottom: 20px;
}

.checkbox{
    display: flex;
    font-family: 'lato', serif;
    font-size: 17px;
    margin-bottom: 20px;
}

.order_submit{
    /* width: 15%; */
    margin:auto;
    margin-left: 40px;
    margin-bottom: 20px;  
} 
.order_submit>button{
    width: 300px;
    /* height: none; */
    /* padding: 5px 200px 5px 200px; */
    color: white;
    font-family: 'lato', serif;
    font-size: 17px;
    background-color: #222222;
    margin-top: 20px;
}
}
*{
    margin: auto;
    padding: auto;
}
#top_div{
    width: 100%;
    height: 80px;
    background-color: white;
    border: 1px solid #f2f2f2;
    cursor: pointer;
    padding-left: 100px;
    padding-top: 25px;
    
}





